#tableId
{
    width: 100%;
}

#tableId td, #tableId th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableId th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

